* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  width: 97%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:link {
  color: #0D5D9C;
}

a:visited {
  color: #0D5D9C;
}


div img {
  width: 100%;
  max-width: 200px;
}

.row {
  display: flex;
}

[class*=col] {
  margin-left: 4%;
}

.text-center {
  text-align: center;
}

.col-4 {
  flex: 0 0 92%;
}

.col-2-4 {
  flex: 0 0 44%;
}

.col-1 {
  flex: 0 0 20%;
}

.col-3-4 {
  flex: 0 0 68%;
}

.col-1-2 {
  flex: 0 0 20%;
}

.col-3 {
  flex: 0 0 68%;
}

/* navbar */

.nav-container {
  background-color: #0D5D9C;
  color: #fff;
}

.navbar {
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 0.2em;
  flex-wrap: wrap;
}

.navbar .logo {
  order: 0;
}

.navbar .search {
  order: 1;
}

.navbar .nav-cart {
  order: 2;
}

.navbar .logo img {
  width: 100%;
  height: auto;
}

.navbar>div {
  flex: 0 0 33%
}

.navbar input {
  width: 100%;
  padding: 0.5em 0.8em;
  padding-left: 25px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #ddd;
}

.navbar .nav-cart {
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.navbar .nav-cart a {
  color: #fff;
}

.navbar .nav-cart .cart-count {
  width: 23px;
  height: 23px;
  /* margin-right: 10px; */
  border-radius: 50%;
  background: #fff;
  text-align: center;
  color: #407ec9;
  font-size: 12px;
  line-height: 24px;
}

.navbar .nav-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-cart div:nth-of-type(n + 2) {
  margin-left: 6px;
}

.navbar .icon-basket {
  /* padding-right: 4px; */
}

.navbar .icon-basket img {
  width: initial;
}

.navbar .cart-count span {
  /* background-color: #fff;
  color: #0D5D9C;
  border-radius: 50%;
  padding: 5px 5px;
  display: inline-block;
  text-align: center; */
}

.navbar .search form {
  position: relative;
}

.navbar .search .search-icon {
  position: absolute;
  top: 6px;
  left: 5px;
  color: #407ec9;
}

/* end of navbar */


/* sec nav */

.sec-nav-container {
  background-color: #407EC9;
}

.sec-nav {
  list-style-type: none;
  justify-content: center;
}

.sec-nav li {
  margin: 0 10px 0;
}

.sec-nav li a {
  display: block;
  padding: 1em 0.5em;
  color: #fff;
}

/* end of sec nav */

/* carousel */

.carousel-container img {
  width: initial;
  max-width: initial;
}

/* end of carousel */

.bestsellers {
  margin-top: 2em;
}

.bestsellers h2,
.toy-categories-head h2 {
  font-family: 'Comic Neue', cursive;
  color: #407ec9;
  font-size: 35px;
}

/* bestsellers */

/* end of bestsellers */

/* bestseller-items */

.bestseller-items {
  margin-top: 2em;
  flex-wrap: wrap;
}

.bestseller-items img {
  max-width: 500px;
}

.bestseller-items .item {
  text-align: center;
}

.buy-btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  position: relative;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.buy-btn:after {
  content: "";
  background: #b4aa92;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -25px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buy-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buy-btn:hover {
  background-color: #ddd;
}

.bestseller-items .item .product-image {
  margin-bottom: 1em;
}

.bestseller-items .item .product-name h3 {
  margin-bottom: 1em;
}

/* end of bestseller-items */

/* showcase  product listing */

.showcase {
  margin-top: 2em;
  flex-wrap: wrap;
}

.showcase .product-list {
  display: flex;
  flex-wrap: wrap;
}

.showcase .product-list .product {
  flex: 0 0 30.66%;
  border: 1px solid #e3e3e3;
  padding: 0.5em;
  text-align: center;
  margin-left: 2%;
  margin-bottom: 2%;
}

.showcase .attributes-filter ul {
  list-style-type: none;
}

.showcase .product img {
  /* background-color: antiquewhite; */
  /* border-radius: 50%; */
  max-width: 150px;
  transform: scale(1);
  transition: all 0.5s;
}

.showcase .product img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.showcase .product {
  display: flex;
  flex-direction: column;
}

.showcase .product h3 {
  font-weight: bolder;
  font-size: 15px;
}

.showcase .product>div {
  margin-bottom: 1em;
}

.showcase .product .cart-btn {
  margin-top: auto;
}

/*  end of product listing */

/* toy categories */

.toy-categories-head {
  margin-top: 4em;
}

.toy-categories {
  margin-top: 2em;
  flex-wrap: wrap;
  text-align: center;
}

.toy-categories a {
  display: inline-block;
  border: 1px solid #e3e3e3;
}

.toy-categories>div {
  /* border: 1px solid #e3e3e3; */
}

.toy-categories h3 {
  border-top: 1px solid #e3e3e3;
  padding: 0.5em 0;
}

/* end of toy categories */

/* product listing page */

.attributes-filter>div {
  margin-bottom: 1em;
  border: 1px solid #e3e3e3;
}

.attributes-filter ul {
  padding: 0.5em;
}

.attributes-filter ul li {
  margin-bottom: 0.5em;
}

.attributes-filter h3 {
  margin-bottom: 1em;
  border-bottom: 1px solid #e3e3e3;
  padding: 0.5em;
}

.attributes-filter .active {
  font-weight: 800;
}

.horizontal-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.horizontal-filters .price-sort {
  flex: 0 0 30.66%;
  margin-right: 2%;
}

.horizontal-filters .price-sort form {
  border: 1px solid #e3e3e3;
}

.horizontal-filters .price-sort select {
  width: 100%;
  padding: 0.5em 0;
  outline: none;
  border: none;
  background-color: #fff;
}

/* ###################### */

/* product listing styles = product list page */

.listing {
  margin-top: 2em;
  flex-wrap: wrap;
}

.listing .product-list {
  display: flex;
  flex-wrap: wrap;
}

.listing .product-list .product {
  flex: 0 0 30.66%;
  border: 1px solid #e3e3e3;
  padding: 0.5em;
  text-align: center;
  margin-left: 2%;
  margin-bottom: 2%;
}

.listing .attributes-filter ul {
  list-style-type: none;
}

.listing .product img {
  /* background-color: antiquewhite; */
  /* border-radius: 50%; */
  max-width: 150px;
  transform: scale(1);
  transition: all 0.5s;
}

.listing .product img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.listing .product {
  display: flex;
  flex-direction: column;
}

.listing .product h3 {
  font-weight: bolder;
  font-size: 15px;
}

.listing .product>div {
  margin-bottom: 1em;
}

.listing .product .cart-btn {
  margin-top: auto;
}

/* ###################### */

.search-results {
  margin-top: 2em;
}

/*  end of product listing page */

/* cart page */

.cart-page-container {
  margin-top: 2em;
}

.cart-page-container .empty-cart img {
  max-width: 400px;
}

.cart-item button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #e3e3e3;
  position: relative;
  margin-bottom: 1em;
  padding: 0.5em 0.2em;
}

.cart-item .product-image {
  /* border: 1px solid #e3e3e3; */
}

.cart-item .decrement {
  color: rgb(143, 51, 51);
}

.cart-item .increment {
  color: #0D5D9C;
}

.cart-item .remove-item {
  position: absolute;
  right: 5px;
  top: 5px;
}

.cart-item .product-details h3 {
  margin-bottom: 0.5em;
}

.cart-item .product-details p {
  margin-bottom: 0.5em;
}

.cart-item .product-details .btn-group {
  margin-bottom: 0.5em;
}

.cart-item .product-details .price {
  font-size: 20px;
}

.particulars {
  border: 1px solid #e3e3e3;
}

.particulars h3:first-child {
  /* mar */
}

.particulars>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2em;
  padding: 0.2em;
}

.particulars .place-order-container {
  justify-content: center;
  margin: 2em 0;
}

/*

.particulars .place-order-container a {  
  padding: 1em 0.8em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #407EC9;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #0d5d9c;
}

.particulars .place-order-container a:hover {
  background-color: #0d5d9c; 
  box-shadow: 0 5px 0 0 #0d5d9c;
}

.particulars .place-order-container a:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #0d5d9c;
  transform: translateY(4px);
} */

.particulars .price-head {
  margin-top: 2em;
  justify-content: center;
  margin-bottom: 2em;
}

.particulars table {
  border-collapse: collapse;
  margin: 0 auto;
}

.particulars tr,
.particulars td {
  padding: 0.8em 0.8em;
  border: 1px solid #e3e3e3
}

.particulars table .total {
  text-align: center;
}

/* end of cart page */

/* login form */

.login-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 2em;
}

.login-container form {
  margin-top: 1em;
}

.login-container .form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-container .form-element label {
  margin-bottom: 0.2em;
}

.login-container .form-element input {
  padding: 0.5em 0.2em;
  outline: none;
}

/* end of login form */

/* order success */

.order-success-container {
  align-items: center;
}

.order-success-container {
  font-size: 25px;
  margin: 4em 0;
  height: 30vh;
}

.order-success-container {}

/* end of order success */


/* footer */

footer {
  margin-top: 2em;
  background-color: #0D5D9C;
  color: #fff;
  padding: 2em 0;
  font-size: 12px;
}

footer .row a {
  color: #fff;
}

footer .row {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style-type: none;
  display: flex;
  /* justify-content: space-between; */
}

footer ul li {
  margin: 0 8px;
}

footer .payment-options {
  font-size: 26px;
}

/* end of footer */

.wrapper .row .btn {
  background-color: #407ec9;
  outline: none;
  border: 1px solid #407ec9;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.5em 0.8em;
  font-size: 16px;
}

.checkout-no-login {
  /* margin: 4em 0; */
  margin-top: 4em;
  margin-bottom: 4em;
}

.checkout-no-login .no-login img {
  max-width: 300px;
}

.checkout-container {
  margin-top: 1em;
  flex-wrap: wrap;
}

.checkout-container .form-element {
  display: flex;
  margin-top: 1em;
}

.checkout-container .form-element input {
  margin: 0 0.5em;
  padding: 0.5em 0.2em;
  flex: 1 1;
  width: 100%;
}

.checkout-container .order-summary .item {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

/* floating cart */

#floating-cart {
  display: inline-block;
  background-color: #0D5D9C;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  /* bottom: 30px; */
  top: 40%;
  right: -1px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  /* opacity: 0;
  visibility: hidden; */
  z-index: 1000;
}

#floating-cart a::after {
  content: "\f07a";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#floating-cart a {
  position: relative;
}

#cart-count {
  position: absolute;
  right: 7px;
  top: -7px;
  right: 36px;
  background-color: beige;
  border-radius: 50%;
  /* padding: 15px; */
  width: 25px;
  height: 25px;
  border: 1px solid #e3e3e3;
}

/* end of floating css */

/* back to top  */


#button {
  display: inline-block;
  background-color: #333;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}


#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}


@media screen and (max-width: 950px) {
  .particulars>div {
    /* flex-direction: column; */
    /* align-items: center; */
  }

  .cart-page-container {
    flex-wrap: wrap;
  }

  .cart-container {
    flex: 0 0 92%;
  }

  .cart-container .cart-item {
    flex-direction: column;
    padding: 0.5em 1em;
    text-align: center;
  }

  .particulars {
    flex: 0 0 92%;
  }

  .particulars table {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {

  .navbar .logo {
    order: 1;
    flex: 0 0 50%;
  }

  .navbar .nav-cart {
    order: 2;
    flex: 0 0 50%;
  }

  .navbar .search {
    order: 3;
    flex: 0 0 100%;
    margin-top: 10px;
  }

  /*  */

  .col-3-4 {
    flex: 0 0 92%;
  }

  .showcase .attributes-filter {
    display: none;
  }

  .showcase .product-list .product {
    flex: 0 0 47%;
    border: 1px solid #e3e3e3;
    padding: 0.5em;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2em;
  }

  .col-1-2 {
    flex: 0 0 44%;
    margin-top: 2em;
  }

  /* .col-2 {
    flex: 0 0 92%;    
  } */

  footer .footer-links {
    justify-content: center;
  }

  footer .payment-options ul {
    margin-top: 1em;
    justify-content: center;
  }

  .attributes-filter {
    display: none;
  }


}

@media screen and (max-width: 650px) {

  .col-2-4 {
    flex: 0 0 92%;
    margin-top: 2em;
  }

  .showcase .product img {
    /* background-color: antiquewhite; */
    /* border-radius: 50%; */
    max-width: 160px;
  }

  .showcase .product-list .product {
    flex: 0 0 92%;
    border: 1px solid #e3e3e3;
    padding: 0.5em;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2em;
  }

  .col-1-2 {
    flex: 0 0 92%;
    margin-bottom: 2em;
  }

  footer .footer-links {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-links li {
    margin-top: 0.5em;
  }

  .listing .product-list .product {
    flex: 0 0 47%;
    border: 1px solid #e3e3e3;
    padding: 0.5em;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2em;
  }


}

@media screen and (max-width: 550px) {
  .listing .product-list .product {
    flex: 0 0 92%;
    border: 1px solid #e3e3e3;
    padding: 0.5em;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2em;
  }

  .horizontal-filters {
    justify-content: center;
  }

  .horizontal-filters .price-sort {
    flex: 0 0 35%;
  }

  .sec-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-cart .cart-total {
    display: none;
  }

  .navbar .nav-cart a {
    display: flex;
    justify-content: flex-end;
  }

}